$font-code: 'SF Mono', 'Fira Mono', monospace;
$font-body: "Lato", sans-serif;

//$easing : cubic-bezier( 0.6, 0.2, 0.5, 0.9)
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);


$toggleMenuTransition: 0.3s;
$modalTransition: 0.2s;

$grey-1: #efefef;
$grey-2: #ECECEC;
$grey-3: #C9C9C9;
$grey-4: #B2ABAF;
$grey-5: #807D83;
$grey-6: #37363B;
$green: #34C62F;
$green-dark: #97E854;
$turquoise: #36DAC6;
$code-dark: #D5DCE2;
$blue: #2796DB;
$fuchsia: #B54A91;
$heavyGreen: #5BA69A;
$yellow: #EBB430;
$darkBlue: #48699C;
$purple: #AA7DE2;
$brown: #634C5A;
$orange: #D05F52;
$red: #E46283;
$hl-green: #34C62F;
$hl-green-dark: #97E854;



$dark-bg: #2B2B2B;
$dark-bg-light: #3C3F41;
$code-color-dark: #B2C2CF;

$white-strong: rgba(255, 255, 255, 0.7);
$white-light: rgba(255, 255, 255, 0.5);
$white-light-mid: rgba(255, 255, 255, 0.3);
$white-light-washed: rgba(255, 255, 255, 0.1);



$master-facebook: #324D8F;
$master-twitter: #0295F3;
$master-linkedin: #1B85BC;
$master-trello: #026AA7;
$master-gmail: #bb0000;
$master-gplus: #d34836;
$master-vimeo: #1ab7ea;
$master-slack: #3eb991;
$master-buffer: #323b43;
$master-pinterest: #bd081c;
$master-appstore: #3C94EB;
$master-google-play: #C74665;
$master-google-blue: #4285f4;

$portrait: " all and (orientation: portrait) ";
$landscape: " all and (orientation: landscape)";


$media-super-slim: "only screen and (max-width : 370px)";
$media-very-slim: "only screen and (max-width : 450px)";
$media-slim: "only screen and (max-width : 580px)";
$media-lass-than-wide: "only screen and (max-width : 680px)";
$media-wide: "only screen and (min-width : 680px)";


