@import './globals';



#goo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.goo-entity.no-pointer {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}



//loading

#loading-screen {
  @include center-transform;
  text-align: center;
  width: 220px;
  height: 220px;
  pointer-events: none;
  z-index: 9999;
  color: #fff;

  &:before{
    content: '';
    @include fullAbsBg;
    @include horizontal-gradient($green, $blue);
    opacity: .5;
    @include transform-origin(top);
    @include transition(all .8s $easing);
    @include transform(scale(1,0));
  }
  &.visible {
    &:before{
      @include transform(scale(1,1));
    }
    #progress{
      @include transform(scale(1,0));
      bottom: 0;
    }
    i {
      opacity: 1;
      @include transform(translate(-50%, 50%));
    }
     h5{
      opacity: 1;
      @include transform(translateY(0));
    }
  }
  &.hidden {
    display: none;
  }

  i{
    @include transition(all .3s $easing);
    position: absolute;
    left: 50%;
    opacity: 0;
    bottom: 100%;
    @include transform(translate(-50%, -10px));
    font-size: 32px;
    font-weight: bold;
    span{
      font-size: 50%;
      display: inline-block;
    }
  }

  h5{
    @include transition(all .3s $easing);
    opacity: 0;
    @include transform(translateY(-10px));
    position: absolute;
    font-weight:400;
    font-size: 1.4rem;
    left: 0;
    right: 0;
    bottom: 20px;
  }
}


#progress {
  opacity: .7;
  @include fullAbsBg;
  bottom: 100%;
  @include transform(scale(1,1));
  @include transform-origin(bottom);
  @include horizontal-gradient($blue, $green);
  @include transition(all .5s $easing);
}






//numbers
.number.active {
  transform: translateY(0);
  opacity: .6;
  transition: all .3s .5s;
}

.number {
  text-align: left;
  min-width: 75px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  white-space: nowrap;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: all .2s;
  transform: translateY(-5px);
  font-weight: 300;
}

.number svg, .number-elm{
  display: inline-block;
  vertical-align: top;
}

.number-elm {
  padding: 0;
  margin: -8px 0 0 5px;
}

.note{
  font-weight: 300;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.warning{
  background-color: #E44B72;
}

.approved {
  background-color: #2BB674;
}



#canvas-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}
#canvas-screen.visible {
  opacity: 1;
}
#canvas-screen,
#canvas-screen:focus {
  outline: none;
}
#canvas-outer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: auto;
}
#canvas-outer,
#canvas-outer:focus {
  outline: none;
}
#canvas-outer.custom.center-h {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#canvas-outer.custom.center-v {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#canvas-outer.custom #canvas-inner {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#canvas-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
#canvas-inner,
#canvas-inner:focus {
  outline: none;
}

#fallback {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: #E5E5E5;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#fallback.visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#fallback h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 0 60px rgba(29, 29, 29, 0.7);
  letter-spacing: 0.02em;
}
