@import '../../css/globals';



.Hero{
    position: absolute;
    top: 15vh;
    color: #fff;
    left: 8%;
    h1{
      font-size: 92px;
      line-height: 1.2;
      font-weight: 600;
      margin-bottom: 5px;

      .title-line{
        &:nth-of-type(1) span{
          @include animation-delay(200ms);
        }
        &:nth-of-type(2) span{
          @include animation-delay(300ms);
        }
      }
    }
    h2{
      font-size: 42px;
      font-weight: 400;
      font-family: $font-body;

      .title-line{
        &:nth-of-type(1) span{
          @include animation-delay(400ms);
        }
        &:nth-of-type(2) span{
          @include animation-delay(500ms);
        }
      }
    }



}


