@import '../../css/globals';




.Home{
  background-color:  #384446;


  #wrapper{
    #canvas-screen.visible{
      opacity: .3;
    }

    &.slide-0, &.slide-1, &.slide-2, &.slide-3{
      #canvas-screen.visible{
        opacity: 1;
      }
    }

  }


  .Button{
    margin-top: 40px;
  }



  .Home-title{
    position: absolute;
    top: 15vh;
    color: #fff;
    left: 12%;
    @include transition(all .5s $easing);
    @include transform(translateY(-200px));

    h1{
      opacity: 0;
      @include transform(translateY(-50px));
      font-size: 92px;
      line-height: 1.2;
      font-weight: 600;
      margin-bottom: 5px;
      @include transition(all .5s $easing);

      .title-line{
        &:nth-of-type(1) span{
          @include animation-delay(200ms);
        }
        &:nth-of-type(2) span{
          @include animation-delay(300ms);
        }
      }
    }
    h2{
      font-size: 42px;
      font-weight: 400;
      font-family: $font-body;

      .title-line{
        &:nth-of-type(1) span{
          @include animation-delay(400ms);
        }
        &:nth-of-type(2) span{
          @include animation-delay(500ms);
        }
        &:nth-of-type(3) span{
          @include animation-delay(600ms);
        }
        &:nth-of-type(4) span{
          @include animation-delay(700ms);
        }
      }
    }



    .Button{
      opacity: 0;
      position: absolute;
      @include animation(bottomIn .5s $easing 900ms both);
    }

  }



  .slide-0{
    .Home-title{
      @include transform(translateY(0));
      h1{
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
  .slide-1{
    .Button{
      @include animation-delay(200ms);
    }
  }




  #hero{
    @include fullAbsBg;
    position: fixed;
    overflow: hidden;
    @include transition(all .5s $easing);
    .BGImg{
      background: url(/resources/images/hero-placeholder.jpg) bottom no-repeat;
      background-size: cover;
      @include fullAbsBg;
      .BGImg-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover !important;
        background-position: bottom !important;
      }
    }

    &.fold{
      bottom: 100vh;
    }

  }






  .section-title{
    position: absolute;
    color: #fff;

    section{
      position: relative;
      z-index: 1;
    }

    h2{
      font-size: 68px;
      line-height: 1.2;
      font-weight: 600;
    }
    h3{
      font-size: 32px;
      font-weight: 400;
      &:after{
        content: '';
        display: block;
        height: 15px;
        border-top: 1px solid;
        margin-top: 30px;
        width: 80px;
        @include transform-origin(left);
      }
    }
    p{
      width: 420px;
      margin-top: 15px;
      font-size: 1.8rem;
    }


    //left (clarity)
    &.l{
      left: 12%;
      top: 18vh;

      h2 .title-line span{
          @include animation-delay(300ms);
      }
      h3{
        .title-line span{
           @include animation-delay(400ms);
        }
        &:after{
          @include animation(scaleRight .3s $easing 500ms both);
        }
      }

      p{
        .title-line{
          &:nth-of-type(1) span{
            @include animation-delay(600ms);
          }
          &:nth-of-type(2) span{
            @include animation-delay(700ms);
          }
        }
      }

      .Button{
        opacity: 0;
        @include animation(bottomIn .5s $easing 800ms both);
      }
    }


    //right (mission)
    &.r{
      right: 12%;
      @include vertical-middle;

      h2 .title-line span{
        @include animation-delay(300ms);
      }

      p{
        .title-line{
          &:nth-of-type(1) span{
            @include animation-delay(400ms);
          }
          &:nth-of-type(2) span{
            @include animation-delay(500ms);
          }
        }
      }

      .Button{
        opacity: 0;
        @include animation(bottomIn .5s $easing 600ms both);
      }
    }

  }






  .bullets{
    position: absolute;
    right: 30px;
    @include vertical-middle;
    li{
      position: relative;
      padding: 5px;
      cursor: pointer;
      margin-bottom: 15px;
      @include animation(softFromBottom .5s $easing both);
      @include listAnimationDelay(200, 5);
      &:before{
        content: '';
        display: block;
        @include round;
        background-color: #fff;
        width: 8px;
        height: 8px;
        @include transition(all .3s $easing);
        box-shadow:  0 0 0 0 #fff;
      }

      svg{
        position: absolute;
        @include transform-origin(11px 11px);
        @include transform(translate(-50%,-50%) rotate(260deg));
        top: 50%;
        left: 50%;
        stroke-dasharray: 70;
        opacity: 0;
        @include transition(all .5s $easing);
      }

      &.active svg{
        opacity: 1;
      }

      &:hover, &.active{
        &:before{
          background-color: transparent;
          box-shadow:  0 0 0 2px #fff;
        }
      }
    }
  }









}


